%ul
  %li
    = link_to 'Complete my profile', profile_path
  %li
    = link_to 'Suggested projects', suggested_path
  %li
    = link_to 'Browse all projects', #
  %li View my upcoming projects
  %li View my past projects
