%h1 Welcome to Helpa

.volunteer_block
=link_to "Register as a volunteer!", new_user_registration_path
.organization_block
=link_to "Register as a non-profit organization", new_organization_registration_path
