// Place all the styles related to the profile_questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile
  label{
    width: auto;
    margin-top: -8px;
  }

.ui-widget{
  margin-left: 280px;
  margin-top: 10px;
}
