// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.question_label{
  width: auto;
  padding: 0px;
}

.date
  select{
    width: auto !important;
  }

input[type="checkbox"]{
  height: 20px !important;
}
